<section class="bg-gray-600">
  <div class="max-w-[1200px] m-auto py-3 px-5 flex justify-between items-center">
    <div><a class="text-white text-center text-lg sm:text-xl lg:text-2xl font-medium cursor-pointer" href="javascript" [routerLink]="''">Control de asistencia</a></div>
    <a href="https://www.linkedin.com/in/david-flores-5b70a2107/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/perfil_app.jpg" alt="Login" class="w-[60px] rounded-full"></a>
  </div>
</section>
