<section class="bg-gray-600 py-8">
  <div class="max-w-[1200px] m-auto pb-4 px-5 text-white text-center text-lg sm:text-xl">
    Powered By David Flores Rios
  </div>
  <div class="text-center flex justify-center">
    <a href="https://github.com/dflores1306" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/github-mark-white.png" alt="github" class="mr-8 w-auto h-[50px]"></a>
    <a href="https://www.linkedin.com/in/david-flores-5b70a2107/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/LI-In-Bug.png" alt="linkedin" class="mr-8 w-auto h-[50px]"></a>
  </div>
</section>
